---
---

@import "{{ site.theme }}";

a {
    color: #AEA8D3;
}

header h1, h1, h1 a {
    color: #DDA0DD;
}

header h2, h2 {
    color: #AEA8D3;
}

hr {
  border-bottom: 1px dashed #FFECDB;
  color: #FFECDB;
}
