---
---

@import "{{ site.theme }}";

header h1, header a {
    color: #DDA0DD;
}

header h2, h2 a {
    color: #AEA8D3;
}

body a, header a.button {
    color: #9370DB;
}

hr {
  border-bottom: 1px dashed #FFECDB;
  color: #FFECDB;
}
