---
---

@import "{{ site.theme }}";

a {
    color: #9370DB;
}

header h1, header a {
    color: #DDA0DD;
}

header h2, h2 a {
    color: #AEA8D3;
}

header a.button {
    color: #9370DB;
}

header {
  border-bottom: 1px dashed #F5D76E;
}
